<template>
  <div id="app">
    <vue-progress-bar/>

    <navbar v-if="$route.name != 'Login'"></navbar>

    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Navbar from '@/components'

export default {
  name: 'App',

  components: {
    Navbar
  },

  computed: {
    ...mapGetters({
      loggedin: 'auth/LOGGED_IN'
    })
  }
}
</script>

<style>
</style>
