// ======= //
// GENERAL //
// ======= //

body, html {
  min-height:100%; height: 100%; width:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: $font;
}

body {
  background: $body-bg;
}


// ========= //
// TYPOGRAFY //
// ========= //

h1 {
  font-family: $font-family-sans-serif;
}

h2 {
  font-family: $font-family-sans-serif;
}

h3 {
  font-family: $font-family-sans-serif;
}

h4 {
  font-family: $font-family-sans-serif;
}

h5 {
  font-family: $font-family-sans-serif;
}

h6 {
  font-family: $font-family-sans-serif;
}

a, p, span, strong, small {

}

a, p {
  @extend %default-text;
}

strong {
  font-weight: 700 !important;
}

small, .text-small {
  font-size: $font1;
}

p, strong, span {
  &.text-big {
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  @include list-unstyled;
  li {
    @extend %default-text;
    display: inline-block;
  }
  &.list-featured {
    li {
      width: 100%;
    }
  }
}

blockquote {
  &, p {
  }
}

#{$all-buttons}, a.btn {
  @extend %default-text;
  display: inline-block;

  &.btn-primary {
  }

  &.btn-lg {
  }
}

#{$all-buttons-hover}, a.btn:hover {
  text-decoration: none;
}
#{$all-buttons-active}, a.btn:active {

}
#{$all-buttons-focus}, a.btn:focus {

}

%form-input {
  box-sizing: border-box;
  &::-webkit-input-placeholder {
  }
  &:-ms-input-placeholder {
  }
  &::-moz-placeholder {
  }
}

#{$all-text-inputs} {
  @extend %default-text;
  box-sizing: border-box;
  &.form-control {
    @extend %form-input;
  }
}

#{$all-text-inputs-focus} {
  box-shadow: none;
}

#{$all-text-inputs-hover} {

}

#{$all-text-inputs-active} {
}

textarea {
  &.form-control {
    @extend %form-input;
  }
}

select {
  &.form-control {
    @extend %form-input;
  }
}


input[type="radio"] {
  .form-check & {
    + label {
      &::before {
      }
    }
  }
  &.invalid + label {
  }
}

input[type="checkbox"],
input[type="radio"] {
  .form-check & {
    + label {
      &::before {
      }
    }
    &:checked + label::before {
    }
    &.invalid + label {
    }
  }

  .form-check-small & {
    + label {
      &::before {
      }
    }
    &.invalid + label {
    }
  }

  .form-check-inline & {
  }
}

.form-group {
  label {
    @extend %default-text;
  }
  .btn {
  }
}

.input-group {

}

// ======= //
// HELPERS //
// ======= //


// ========== //
// COMPONENTS //
// ========== //

// ======= //
// SECIONS //
// ======= //

// ===== //
// PAGES //
// ===== //
